.values {
    padding-top: 6rem;
}

.values .col {
    margin-bottom: 4rem;
}

.values h3 {
    line-height: 2;
    margin: 0;
    padding: 0;
    padding-bottom: 2.4em;
    margin-top: -2.2rem;
}

.value img {
    height: 80px;
}

.value h4 {
    font-size: 11px;
    color: white;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 4;
    padding-top: 1em;
    padding-bottom: 1.4em;
    font-weight: normal;
}

.value p {
   font-size: 14px;
}